.inputContainer {
  margin: 10px 0;
}

.selectedCamera {
  color: #0166b2;
}

.camera {
  margin-left: 10px;
  transition-duration: 0.3s;
  &:first-child {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
    color: #0166b2;
  }
}

.test{
  color: #00e22681;
  text-align: center;
  font-style: "times new roman";
  font-size: 70px;
}